{% extends 'base.html.twig' %}
{% block title %}Votre espace du nutrition {% endblock %}
{% block body %}
    <section class="inner-banner inner-bg3">
        <div class="container">
            <div class="inner-title text-center">
                <h3> your Information</h3>
                <ul>
                    <li>
                        <a href="{{ path('app_user_nutrition_index') }}">Dashboard</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>
    <style>
        /* Add your CSS styles here */
        .table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 13px;
            text-align: middle;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #555353;
            color: #333;
        }

        td {
            color: #666;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        .btn {
            display: inline-block;
            padding: 8px 16px;
            margin: 10px 5px;
            border: none;
            background-color: #00FF4C;
            color: #fff;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .btn-secondary {
            background-color: #6c757d;
        }
    </style>


    <table class="table">
        <thead>
            <tr>
                <th>Age</th>
                <th>Weight</th>
                <th>Height</th>
                <th>ActivityLevel</th>
                <th>Gender</th>
                <th>Calorie</th>
                <th>Protein</th>
                <th>Carbs</th>
                <th>Fat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_nutrition in user_nutritions %}
            <tr>
                <td>{{ user_nutrition.age }}</td>
                <td>{{ user_nutrition.weight }}</td>
                <td>{{ user_nutrition.height }}</td>
                <td>{{ user_nutrition.activityLevel }}</td>
                <td>{{ user_nutrition.gender }}</td>
                <td>{{ user_nutrition.calorie }}</td>
                <td>{{ user_nutrition.protein }}</td>
                <td>{{ user_nutrition.carbs }}</td>
                <td>{{ user_nutrition.fat }}</td>
                <td>
                    <a href="{{ path('app_user_nutrition_show', {'user': user_nutrition.user.getIdu()}) }}" class="btn-secondary btn">Show</a>
                    <a href="{{ path('app_user_nutrition_edit', {'user': user_nutrition.user.getIdu()}) }}" class="btn-secondary btn">Edit</a>
                    <a href="{{ path('app_generate_pdf', {'userId': user_nutrition.user.getIdu()}) }}" class="btn btn-secondary">Generate your bilan</a>
                    <a href="{{ path('meal_plan') }}" class="btn btn-secondary">Meal Plan</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_user_nutrition_new') }}" class="btn-secondary btn">Create new</a>#}
        <a href="{{ path('recommendations') }}" class="btn-secondary btn">View Recommendations</a> 

{% endblock %}
