{% extends 'base.html.twig' %}

{% block title %}UserNutrition{% endblock %}

{% block body %}
    <style>
        /* Add your CSS styles here */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .btn {
            display: inline-block;
            padding: 8px 16px;
            margin: 10px 5px;
            border: none;
            background-color: #00FF4C;
            color: #fff;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .btn2 {
            display: inline-block;
            padding: 8px 16px;
            margin: 10px 5px;
            border: none;
            background-color: #FF0000;
            color: #fff;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .btn-secondary {
            background-color: #6c757d;
        }
    </style>

    <h1>UserNutrition</h1>

    <table>
        <tbody>
            <tr>
                <th>Age</th>
                <td>{{ user_nutrition.age }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ user_nutrition.weight }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ user_nutrition.height }}</td>
            </tr>
            <tr>
                <th>ActivityLevel</th>
                <td>{{ user_nutrition.activityLevel }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user_nutrition.gender }}</td>
            </tr>
            <tr>
                <th>Calorie</th>
                <td>{{ user_nutrition.calorie }}</td>
            </tr>
            <tr>
                <th>Protein</th>
                <td>{{ user_nutrition.protein }}</td>
            </tr>
            <tr>
                <th>Carbs</th>
                <td>{{ user_nutrition.carbs }}</td>
            </tr>
            <tr>
                <th>Fat</th>
                <td>{{ user_nutrition.fat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_nutrition_index') }}" class="btn">Back to List</a>

    <a href="{{ path('app_user_nutrition_edit', {'user': user_nutrition.user.getIdu()}) }}" class="btn btn-secondary">Edit</a>

    {{ include('user_nutrition/_delete_form.html.twig') }}
{% endblock %}
