{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
<div class="inner-banner inner-bg12">
		<div class="container">
			<div class="inner-title text-center">
				<h3>Participant</h3>
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>

				</div>

			</div>
		</div>

    <div class="row">
    {% for participant in participants %}
        <div class="col-md-4 mb-4">
            <div class="card">
             <div class="card-body text-center">
            <p class="card-text">Participant: {{ participant.user.nom }}</p>
                <img src="{{ asset(participant.photoP) }}" class="card-img-top mx-auto d-block" alt="..."style="width:300px; height: 200px;">
               
                    <p class="card-text">Vote: {{ participant.vote }}</p>
                <form method="post" action="{{ path('app_participant_vote', {'idpart': participant.idpart}) }}">
                    <input type="hidden" name="vote" value="{{ participant.vote }}"> 
                    <button type="submit" class="btn btn-primary" style="background-color: #72ae44; color: white; border-color: #72ae44; border-radius: 30px; width: 150px;">Vote</button>
                </form>
                  
                    </br> 
                                {{ include('participant_controller_user/_delete_form.html.twig' ) }}
                </div>
            </div>
        </div>
    {% else %}
        <p>No records found</p>
    {% endfor %}
    </div>

{% endblock %}