{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block body %}
    <h1>Ingredient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdIng</th>
                <th>Nom</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.idIng }}</td>
                <td>{{ ingredient.nom }}</td>
                <td>{{ ingredient.quantite }}</td>
                <td>
                    <a href="{{ path('app_ingredient_show', {'idIng': ingredient.idIng}) }}">show</a>
                    <a href="{{ path('app_ingredient_edit', {'idIng': ingredient.idIng}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ingredient_new') }}">Create new</a>
{% endblock %}
