{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idr</th>
                <td>{{ reclamation.idr }}</td>
            </tr>
            <tr>
                <th>Nomuser</th>
                <td>{{ reclamation.nomuser }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ reclamation.iduser }}</td>
            </tr>
            <tr>
                <th>Comentair</th>
                <td>{{ reclamation.comentair }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    <a href="{{ path('app_reclamation_edit', {'idr': reclamation.idr}) }}">edit</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
