<div class="appointment-area pt-100 pb-70">
	<div class="container">
		<div class="appointment-form">
			{{ form_start(form) }}
			<h2>Nouvelle recette</h2>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						{{ form_label(form.nom, 'Nom') }}
						{{ form_widget(form.nom, {'attr': {'class': 'form-control','nonvalidate ':'nonvalidate' , 'placeholder': 'Nom de la recette'}}) }}
						{% if form_errors(form.nom) is not empty %}
							<div class="alert alert-danger">
								{{ form_errors(form.nom) }}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-12">
					<div class="form-group">
						{{ form_label(form.chef, 'Chef') }}
						{{ form_widget(form.chef, {'attr': {'class': 'form-control','nonvalidate ':'nonvalidate' , 'placeholder': 'Nom chef'}}) }}
						{{ form_errors(form.chef) }}
					</div>
				</div>
				<div class="col-lg-12">
					<div class="form-group">
						{{ form_label(form.ingredients, 'Ingredients') }}
						{{ form_widget(form.ingredients, {'attr': {'class': 'form-select form-control'}}) }}
					</div>
				</div>
				<div class="col-lg-12">
					<p>Your ingredient is not here?
						<a href="{{ path('app_ingredient_new') }}">Click here</a>
						to add</p>
				</div>
				<div class="col-lg-12">
					<div class="form-group">
						{{ form_label(form.description, 'Description') }}
						{{ form_widget(form.description, {'attr': {'class': 'form-control','nonvalidate ':'nonvalidate' , 'placeholder': 'Description' ,'rows': '5'}}) }}
						{{ form_errors(form.description) }}
					</div>
				</div>
				<div class="col-lg-12">
					<div class="form-group">
						{{ form_label(form.imgsrc, 'image') }}
						{{ form_widget(form.imgsrc, {'attr': {'class': 'form-control ', 'placeholder': 'Ajouter une image'}}) }}
						{{ form_errors(form.imgsrc) }}
					</div>
					<div class="col-lg-12">
						<div class="form-group">
							{{ form_label(form.categorie, 'Categorie') }}
							{{ form_widget(form.categorie, {'attr': {'class': 'form-select form-control','nonvalidate ':'nonvalidate' }}) }}
							{{ form_errors(form.categorie) }}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							{{ form_label(form.calorie, 'Calorie') }}
							{{ form_widget(form.calorie, {'attr': {'class': 'form-control ','nonvalidate ':'nonvalidate' , 'placeholder': 'Calorie'}}) }}
							{{ form_errors(form.calorie) }}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							{{ form_label(form.protein, 'Protein') }}
							{{ form_widget(form.protein, {'attr': {'class': 'form-control ','nonvalidate ':'nonvalidate' , 'placeholder': 'Protein'}}) }}
							{{ form_errors(form.protein) }}
						</div>
						{# {# <div class="col-lg-6">
																		            <div class="form-group">
																		                {{ form_label(form.rating, 'Protein') }}
																		                {{ form_widget(form.rating, {'attr': {'class': 'form-control ','nonvalidate ':'nonvalidate' , 'placeholder': 'Protein', 'required': 'required'}}) }}
																		           {{ form_errors(form.rating) }}
																		            </div>
																		        </div> #}
						<div class="col-lg-12 col-md-12">
							<button type="submit" class="default-btn">Submit Now</button>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
