

{% for recipe in recipes %}
    <div class="col-lg-4 col-md-6 recipe-item">
        <div class="recent-recipe-item">
            <a href="{{ path('app_recettes_show', {'idR': recipe.getIdR()}) }}">
                <img src="{{ recipe.getImgSrc() }}" alt="Recipe Image">
            </a>
            <div class="content">
                <h3><a href="{{ path('app_recettes_show', {'idR': recipe.getIdR()}) }}">{{ recipe.getNom() }}</a></h3>
                <p>{{ recipe.getDescription() }}</p>
                <ul>
                    
                    <li><a href="#">{{ recipe.getChef() }}</a></li>
                </ul>
                {# Add other recipe details as needed #}
            </div>
        </div>
    </div>
{% endfor %}
