{% extends app.user.role == 'Chef' ? 'chefbase.html.twig' : 'base.html.twig' %}

{% block title %}Produit index
{% endblock %}

{% block body %}



	<div class="inner-banner inner-bg3">
		<div class="container">
			<div class="inner-title text-center">
				<h3>Shop</h3>
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>

				</div>

			</div>
		</div>

<form action="{{ path('app_oeuvre_index_s') }}" method="get">
  <input class="form-control search-input"  type="text" name="q" placeholder="Search..." value="{{ searchTerm ?? '' }}">
    <!-- Add a hidden submit button to trigger form submission -->
    <input type="submit" style="display: none;">
</form>
	</ul>
</div></div></div><section class="py-5"><div class="container px-4 px-lg-5 mt-5">
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
	{% for produit in produits %}
		<div class="col mb-5">
			<div
				class="card h-100">
				<!-- Product image-->
				<img
				src="{{ asset(produit.image) }}" alt="Product Image">
				<!-- Product details-->
				<form method="post" action="{{ path('app_panier_newchef') }}">
					<div class="card-body p-4">
						<div
							class="text-center">
							<!-- Product name-->
							<h5 class="fw-bolder">{{ produit.nom }}</h5>
							<!-- Product price-->
							{{ produit.prix ~ "DT" }}<br>
							<input type="number" name="quantite" min="1" value="1" inputmode="numeric" style="width: 50px; padding: 5px;">
						</div>
					</div>
					<!-- Product actions-->


					<input type="hidden" name="id_client" value="{{ app.user.getIdu() }}">

					<input type="hidden" name="id_produit" value="{{ produit.id }}">


					<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						<div class="text-center">
							<button type="submit" class="btn btn-outline-dark mt-auto">Ajouter panier</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	{% endfor %}

</div></div>

<script>
const searchInput = document.querySelector('input[name="q"]');
        
        searchInput.addEventListener('input', function() {
            this.form.submit();
        });

</script>


{% endblock %}
