{% extends 'chefbase.html.twig' %}

{% block title %}Historique des défis{% endblock %}

{% block body %}

<div class="inner-banner inner-bg11">
		<div class="container">
			<div class="inner-title text-center">
				<h3>Historique des défis expirés</h3>
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>

				</div>

			</div>
		</div>


<div class="row">
    {% for defi in defis %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                   <h5 class="card-title" style="text-align: center;">{{ defi.nomD }}</h5>
                        <img src="{{ asset(defi.photoD) }}" class="card-img-top mx-auto d-block" alt="..." style="width:300px; height: 200px;">
                        <p class="card-text">{{ defi.disD }}</p>
                        <p class="card-text">Créé par: {{ defi.user.nom }}</p>
                        <p class="card-text"><small class="text-muted">Date limite: {{ defi.delai ? defi.delai|date('Y-m-d') : '' }} {{ defi.heure ? defi.heure|date('H:i:s') : '' }}</small></p>
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucun défi expiré trouvé</p>
    {% endfor %}
</div>
{% endblock %}
