<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block css %}
			<!-- Toastr CSS -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css" integrity="sha256-ejA/z0dc7D+StbJL/0HAnRG/Xae3yS2gzg0OAnIURC4=" crossorigin="anonymous">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
			<link rel="stylesheet" href={{asset("backend/vendors/styles/core.css")}}>
			<link rel="stylesheet" href={{asset("backend/vendors/styles/icon-font.min.css")}}>
			<link rel="stylesheet" href={{asset("backend/src/plugins/datatables/css/dataTables.bootstrap4.min.css")}}>
			<link rel="stylesheet" href={{asset("backend/https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap")}}>
			<link rel="stylesheet" href={{asset("backend/src/plugins/datatables/css/responsive.bootstrap4.min.css")}}>
			<link rel="stylesheet" href={{asset("backend/vendors/styles/style.css")}}>
			<link rel="stylesheet" href={{asset("backend/https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85")}}>
			<link rel="stylesheet" href={{asset("backend/https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258")}}>

		{% endblock %}
		{% block js %}
			<script src={{asset("https://cdn.jsdelivr.net/npm/sweetalert2@11")}}></script>
			<script src={{asset("https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")}}></script>
			<script src={{asset("backend/src/scripts/blog_js.js")}}></script>
			<script src={{asset("backend/src/scripts/popper.min.js")}}></script>
			<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script src={{asset("backend/vendors/scripts/core.js")}}></script>
			<script src={{asset("backend/vendors/scripts/script.min.js")}}></script>
			<script src={{asset("backend/vendors/scripts/process.js")}}></script>
			<script src={{asset("backend/vendors/scripts/layout-settings.js")}}></script>
			<script src={{asset("backend/src/plugins/apexcharts/apexcharts.min.js")}}></script>
			<script src={{asset("backend/src/plugins/datatables/js/jquery.dataTables.min.js")}}></script>
			<script src={{asset("backend/src/plugins/datatables/js/dataTables.bootstrap4.min.js")}}></script>
			<script src={{asset("backend/src/plugins/datatables/js/dataTables.responsive.min.js")}}></script>
			<script src={{asset("backend/src/plugins/datatables/js/responsive.bootstrap4.min.js")}}></script>
			<script src={{asset("backend/vendors/scripts/dashboard.js")}}></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha1/js/bootstrap.min.js"></script>

			<script src="https://cdn.jsdelivr.net/npm/qrcode-generator"></script>
			<script src="{{ asset('backend/src/scripts/qr.js') }}" defer></script>
			
			<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
			<script>
				toastr.options = {
"closeButton": true,
"progressBar": true,
"timeOut": 1200,
"positionClass": "toast-top-right"
};{% for flash in app.flashes %}toastr["{{ flash.type }}"]("{{ flash.message }}");{% endfor %}
			</script>

		</head>
	</html>
</body>{% endblock %}{% block header %}
<div class="header">
    <div class="header-left">
        <div class="menu-icon bi bi-list"></div>
        <div class="search-toggle-icon bi bi-search" data-toggle="header_search"></div>
        <div class="header-search">
            <form>
                <div class="form-group mb-0">
                    <i class="dw dw-search2 search-icon"></i>
                    <input type="text" class="form-control search-input" placeholder="Search Here"/>
                    <div class="dropdown">
                        <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
                            <i class="ion-arrow-down-c"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">From</label>
                                <div class="col-sm-12 col-md-10">
                                    <input class="form-control form-control-sm form-control-line" type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">To</label>
                                <div class="col-sm-12 col-md-10">
                                    <input class="form-control form-control-sm form-control-line" type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">Subject</label>
                                <div class="col-sm-12 col-md-10">
                                    <input class="form-control form-control-sm form-control-line" type="text"/>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Add more header-left content here if needed -->
    </div>
    
    <!-- header-right starts here -->
    
       
       
        
      <div class="user-info-dropdown">
			<div class="dropdown">
				<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
					<span class="user-icon">
						<img src="{{ app.user.image }}" alt="">
					</span>
					<span class="user-name">{{ app.user.username }}</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
					<a class="dropdown-item" href="profile.html">
						<i class="dw dw-user1"></i>
						Profile</a>
					<a class="dropdown-item" href="profile.html">
						<i class="dw dw-settings2"></i>
						Setting</a>
					<a class="dropdown-item" href="faq.html">
						<i class="dw dw-help"></i>
						Help</a>
					<a class="dropdown-item" href="{{ path('app_logout') }}">
						<i class="dw dw-logout"></i>
						Log Out</a>
				</div>
			</div>
		</div>
		 <div class="dashboard-setting user-notification">
            <div class="dropdown">
                <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
                    <i class="dw dw-settings2"></i>
                </a>
            </div>
        </div>
        
      
    
    <!-- End of header-right -->
</div>
{% endblock %}
{% block body %}{% endblock %}{% block right_side_bar %}
<div class="right-sidebar">
	<div class="sidebar-title">
		<h3 class="weight-600 font-16 text-blue">
			Layout Settings
			<span class="btn-block font-weight-400 font-12">User Interface Settings</span>
		</h3>
		<div class="close-sidebar" data-toggle="right-sidebar-close">
			<i class="icon-copy ion-close-round"></i>
		</div>
	</div>
	<div class="right-sidebar-body customscroll">
		<div class="right-sidebar-body-content">
			<h4 class="weight-600 font-18 pb-10">Header Background</h4>
			<div class="sidebar-btn-group pb-30 mb-10">
				<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
				<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
			</div>

			<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
			<div class="sidebar-btn-group pb-30 mb-10">
				<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light">White</a>
				<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
			</div>

			<h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
			<div class="sidebar-radio-group pb-10 mb-10">
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-1" checked=""/>
					<label class="custom-control-label" for="sidebaricon-1">
						<i class="fa fa-angle-down"></i>
					</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-2"/>
					<label class="custom-control-label" for="sidebaricon-2">
						<i class="ion-plus-round"></i>
					</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-3"/>
					<label class="custom-control-label" for="sidebaricon-3">
						<i class="fa fa-angle-double-right"></i>
					</label>
				</div>
			</div>

			<h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
			<div class="sidebar-radio-group pb-30 mb-10">
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input" value="icon-list-style-1" checked=""/>
					<label class="custom-control-label" for="sidebariconlist-1">
						<i class="ion-minus-round"></i>
					</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input" value="icon-list-style-2"/>
					<label class="custom-control-label" for="sidebariconlist-2">
						<i class="fa fa-circle-o" aria-hidden="true"></i>
					</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input" value="icon-list-style-3"/>
					<label class="custom-control-label" for="sidebariconlist-3">
						<i class="dw dw-check"></i>
					</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input" value="icon-list-style-4" checked=""/>
					<label class="custom-control-label" for="sidebariconlist-4">
						<i class="icon-copy dw dw-next-2"></i>
					</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input" value="icon-list-style-5"/>
					<label class="custom-control-label" for="sidebariconlist-5">
						<i class="dw dw-fast-forward-1"></i>
					</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input" value="icon-list-style-6"/>
					<label class="custom-control-label" for="sidebariconlist-6">
						<i class="dw dw-next"></i>
					</label>
				</div>
			</div>

			<div class="reset-options pt-30 text-center">
				<button class="btn btn-danger" id="reset-settings">
					Reset Settings
				</button>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block ledt_side_bar %}

<div class="left-side-bar">
	<div class="brand-logo">
		<a href="index.html">
			<img src={{asset("frontend/assets/images/YumLink_logo.png")}} class="dark-logo" alt="Logo" style="max-width: 100px; height: auto;">
			<img src={{asset("frontend/assets/images/YumLink_logo.png")}} class="light-logo" alt="Logo" style="max-width: 100px; height: auto;">
		</a>
		<div class="close-sidebar" data-toggle="left-sidebar-close">
			<i class="ion-close-round"></i>
		</div>
	</div>
	<div class="menu-block customscroll">
		<div class="sidebar-menu">
			<ul id="accordion-menu">
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-house"></span>
						<span class="mtext">Home</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('ClientAdmin') }}">Home</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-textarea-resize"></span>
						<span class="mtext">Administrateur</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('app_user_index') }}">Liste Utilisateur</a>
						</li>
						<li>
							<a href="{{ path('app_admin_new') }}">Ajouter un administrateur</a>
						</li>
						<li>
							<a href="{{ path('stat') }}">Statistiques</a>
						</li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-textarea-resize"></span>
						<span class="mtext">Recettes</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('indexAdmin') }}">List Recettes</a>
						</li>
						<li>
							<a href="{{ path('app_ingredient_index') }}">List Ingredients</a>
						</li>
						<li>
							<a href="{{ path('admin_recipes_and_activity_charts') }}">statistiques</a>
						</li>
						<li>
							<a href="{{ path('app_recettes_new_admin') }}">Ajouter une recette</a>
						</li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-textarea-resize"></span>
						<span class="mtext">Produit</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('app_produit_indexadmin') }}">List Produit</a>
						</li>
						<li>
							<a href="{{ path('app_commande_index') }}">List Commande</a>
						</li>
						<li>
							<a href="{{ path('app_reclamation_indexadmin') }}">List Reclamation</a>
						</li>
						<li>
							<a href="{{ path('app_panier_indexadmin') }}">List Panier</a>
						</li>
						<li>
							<a href="{{ path('app_produit_new') }}">Add Produit</a>
						</li>
						<li>
							<a href="{{ path('statistiques') }}">statistiques</a>
						</li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-textarea-resize"></span>
						<span class="mtext">Défis</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('app_defis_admin_index') }}">List Défis</a>
						</li>
						<li>
							<a href="{{ path('app_participant_admin_index') }}">List Participants</a>
						</li>
						<li>
							<a href="{{ path('app_participant_Stat_admin') }}">statistiques</a>
						</li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-textarea-resize"></span>
						<span class="mtext">Blogs</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('article_admin_list') }}">List Articles</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-textarea-resize"></span>
						<span class="mtext">Nutritions</span>
					</a>
					<ul class="submenu">
						<li>
							<a href="{{ path('admin_user_nutrition_index') }}">List Des nutritionniste
							</a>
						</li>
						<li>
							<a href="{{ path('admin_average_calories_chart') }}">Statestique</a>
						</li>


					</ul>
				</li>


			</ul>
		</div>
	</div>
</div>{% endblock %}</body></html>
