{% extends 'adminBase.html.twig' %}
{% block body %}
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										Title Article
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
										<li>
											<a class="dropdown-item sort-option" href="#" data-sort-type="asc">Sort Alphabetically ASC</a>
										</li>
										<li>
											<a class="dropdown-item sort-option" href="#" data-sort-type="desc">Sort Alphabetically DESC</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Hide Column</a>
										</li>
									</ul>
								</div>
							</th>
							<th scope="col">description Article</th>
							<th scope="col">date Article</th>
							<th scope="col">image Article</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for article in articles %}
							<tr>
								<th scope="row">{{article.idArticle}}</th>
								<td>{{ article.titleArticle }}</td>
								<td>{{ article.descriptionArticle  |slice(0, 15) ~ '...' }}</td>
								<td>{{ article.datePublished ? article.datePublished|date('Y-m-d H:i:s') : '' }}</td>
								<td>{{ article.imgArticle |slice(0, 15) ~ '...' }}</td>
								<td>
									<div class="btn-group-admin" role="group">
										<button type="button" class="btn btn-info">Update</button>
										<form id="deleteForm{{ article.idArticle }}" method="post" action="{{ path('article_delete_admin', {'idArticle': article.idArticle}) }}">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.idArticle) }}">
											<button type="button" onclick="confirmDelete('{{ article.idArticle }}')" class="btn btn-danger">Delete</button>
										</form>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script src={{asset("https://cdn.jsdelivr.net/npm/sweetalert2@11")}}></script>
	<script src={{asset("backend/src/scripts/blog_js.js")}}></script>
	<script src={{asset("backend/src/scripts/popper.min.js")}}></script>
{% endblock %}
