{% extends 'chefbase.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<div class="blog-details-area pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-details-content">
						<div class="blog-preview-img">
							<img src={{ asset(article.imgArticle) }} alt="Blog Images"/>
						</div>
						<ul class="tag-list">
							<li class="active">
								<a href="author.html">
									<i class="bx bx-user"></i>
									{{author}}
								</a>
							</li>
							<li>
								<i class="bx bx-calendar"></i>
								{{ article.datePublished ? article.datePublished|date('Y-m-d H:i:s') : '' }}
							</li>
							<li>
								<i class="bx bx-comment-dots"></i>
								{{commentsCount}}
								comments
							</li>
							<li>
								{% if isLikedByCurrentUser %}
									<div onclick="disLike()">
										<svg id="likeIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
										</svg>
									</div>
								{% else %}
									<div onclick="like()">
										<svg id="dislikeIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewbox="0 0 16 16">
											<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
										</svg>
									</div>
								{% endif %}
							</li>
							<li>
								<span class="likes-count">{{article.nbLikesArticle}}</span>
								likes
							</li>
						</ul>
						<h2>{{article.titleArticle}}</h2>
						<p>{{article.descriptionArticle}}</p>
						<br/>
						<div class="comments-wrap">
							<div class="comment-title">
								<h4>{{commentsCount}}
									Comments :</h4>
							</div>
							<ul class="comment-form">
								{% for comment in comments %}
									{% include 'article/comment_item.html.twig' with {'comment': comment} %}
								{% endfor %}
							</ul>
						</div>
						<div class="comments-form">
							{{ include('commentaire/newComment.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script src={{asset("assets/js/blog.js")}}></script>
{% endblock %}
