<div class="col-lg-6 col-md-6">
	<div class="blog-item">
		<div class="blog-img">
			<a href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}">
				<img src={{ asset(article.imgArticle) }} alt="Blog Images">
			</a>
			<div class="tag">
				<a>
					{{ article.datePublished ? article.datePublished|date('Y-m-d H:i:s') : '' }}
				</a>
			</div>
		</div>
		<div class="content">
			<h3>
				<a>{{ article.titleArticle }}</a>
			</h3>
			<p>{{ article.descriptionArticle | slice(0, 100) ~ '...' }}</p>

			<a href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}" class="read-btn">Read More</a>
			{% if app.user.getIdU() != article.user.getIdU() %}
				{% else %}
					<form method="post" action="{{ path('app_article_delete', {'idArticle': article.idArticle}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.idArticle) }}">
						<button class="btn">Delete</button>
					</form>
			{% endif %}


		</div>
	</div>
</div>
