{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdArticle</th>
                <td>{{ article.idArticle }}</td>
            </tr>
            <tr>
                <th>TitleArticle</th>
                <td>{{ article.titleArticle }}</td>
            </tr>
            <tr>
                <th>ImgArticle</th>
                <td>{{ article.imgArticle }}</td>
            </tr>
            <tr>
                <th>DescriptionArticle</th>
                <td>{{ article.descriptionArticle }}</td>
            </tr>
            <tr>
                <th>NbLikesArticle</th>
                <td>{{ article.nbLikesArticle }}</td>
            </tr>
            <tr>
                <th>DatePublished</th>
                <td>{{ article.datePublished ? article.datePublished|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ article.tags ? article.tags|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_blog') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
